<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
 <my-header></my-header>
  </ion-header>
  <ion-content style="background-color:#194387"  >

<div class="row" style="height:35%;width:95%;background-color:#FFFFFF; ;margin:8px;border-radius:4px" *ngIf=" selectedItem!='' &&  item?.type == 'person' " >

    <div class="row">
      <div class="col-15 col-img" >
        <img width="40" height = "40" src="assets/img/person_categories/{{ item?.category_img }}.png " />
      </div>

      <div class = "col-70 col-list">
        <!--<div style=" font-family: 'Roboto', sans-serif;
        font-size:17px;
        color:#00335E ;
        font-weight:500;">-->
        <div id="heading">{{item?.first_name}} {{ item?.last_name}}</div>
        <div id="blueText">{{item?.company_name}} {{ item?.category_name}}</div>
        <div id="grayText">{{item?.address}}</div>

        <div id="date-ID"><img style="margin-right:10px"  width="15" height="15" src = "assets/img/events/{{ item?.event_img }}.png" /> {{ item?.date}} </div>
        <button style="margin-top:20px" class="get-directions" (click)="getDirections()"></button>

      </div>
    </div>
</div>

<div class="row" style="height:35%;width:95%;background-color:#FFFFFF; ;margin:8px;border-radius:4px" *ngIf=" selectedItem!='' &&  (item?.type == 'vehicle' || item?.type == 'object' ) " >

    <div class="row">
      <div class="col-15 col-img" >
        <img width="40" height = "40" src="assets/img/veh_categories/{{ item?.category_img }}.png " />
      </div>

      <div class="col-70 col-list">

      <!--<div style=" font-family: 'Roboto', sans-serif;
        font-size:17px;
        color:#00335E ;
        font-weight:500;">-->
     <div id="heading">{{item?.category_name}} {{ item?.company_number }}
 {{ item?.numberplate }}</div>
      <div id="blueText">{{item?.brand}} {{ item?.model}}</div>
      <div id="grayText">{{item?.address}}</div>

      <div id="date-ID"><img style="margin-right:10px" onerror="hide_img(this)"  width="15" height="15" src = "assets/img/events/{{ item?.event_img }}.png" /> {{ item?.date}} {{item?.poi}} </div>
<button style="margin-top:20px" class="get-directions" (click)="getDirections()"></button>

      </div>
    </div>
</div>


<div  #map style="height:100%;margin:8px" id="map"></div> 
</ion-content>
