page-map {
.get-directions{
    background: url('../assets/img/directions.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    display: block;
    margin-left: -24%;
    margin-top: 2%;
    width:100px;
    height:20px;
    border: 0;
  }

}
